In [1]:
import pandas

In [17]:
df = pandas.read_csv('inoue_cued.csv')
df[:5]

,Blocks,Trials,answer,RT,Cue,cor_answer,stim_left,stim_right
0,1,1,9,3.302172,False,9,['9' '9' '' '9' '' '9' '9' '' ''],['8' '' '' '8' '' '8' '8' '' '']
1,1,2,9,0.714475,True,9,['8' '' '' '8' '' '8' '8' '' ''],['1' '' '' '1' '' '1' '1' '' '1']
2,1,3,0,3.349570,False,0,['1' '' '' '1' '' '1' '1' '' '1'],['9' '' '' '9' '' '' '9' '9' '9']
3,1,4,3,2.813548,True,3,['9' '' '' '9' '' '' '9' '9' '9'],['' '' '' '4' '' '' '' '' '']
4,1,5,9,0.899564,True,9,['' '' '' '4' '' '' '' '' ''],['5' '' '' '5' '5' '5' '' '5' '5']

In [3]:
df['Blocks'].value_counts().sort_index()

1     13
2     14
3     14
4     13
5     13
6     13
7     14
8     12
9     15
10    13
Name: Blocks, dtype: int64

In [4]:
for idx, row in df[df['Blocks']==1].iterrows():
    print('O' if row['answer']==row['cor_answer'] else 'X')

O
O
O
O
O
O
O
O
O
X
O
O
O

In [8]:
sorted(set(df['Blocks'].values))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
for i in sorted(set(df['Blocks'].values)):
    print("".join(['O' if row['answer']==row['cor_answer'] else 'X' for idx,row in df[df['Blocks']==i].iterrows()]))

OOOOOOOOOXOOO
OOOOOOOOOXOOOO
OXOOOOOOOOOOOO
OOOOOOOOOOOOO
OOOOOOOOOOOXO
OOOOOOOOXOOOO
OOOOOOOOXOOOOO
OOOOOOOOXXOO
OOOOOOOOOOOOOOO
OOOXOOOOOOOOO

In [20]:
for block in (df[df['Blocks']==i] for i in sorted(set(df['Blocks'].values))):
    print(
        len(block),
        len(block) - len(block[block['answer']==block['cor_answer']]),#num of fail
        block['RT'].mean(),
        block[block['answer']==block['cor_answer']]['RT'].mean(),
        block[~(block['answer']==block['cor_answer'])]['RT'].mean(),
    )

13 1 1.9640118527601875 1.8852101087546391 2.9096327808267684
14 1 1.6537712913750673 1.4717084387890422 4.0205883749933955
14 1 1.9217085457053795 1.8918985159712065 2.3092389322496274
13 0 2.1117046861103552 2.1117046861103552 nan
13 1 2.1320195068575023 2.2460075684912986 0.7641627672519462
13 1 2.08959564533699 1.6801216594500754 7.00328347597997
14 1 1.7787918390923292 1.7928606231096007 1.5958976468677974
12 2 2.7051315101333557 2.4726704634251746 3.8674367436742623
15 0 1.6092585187024269 1.6092585187024269 nan
13 1 2.2720581839627743 2.2624265763391427 2.387637475446354